@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #444444;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #0693e3 0%, #33364a 100%);
    padding: 0;
  }
.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

/*--------------------------------------------------------------
# Login and Sign up
--------------------------------------------------------------*/

.headers {
    color: #ffffff;
    background: linear-gradient(0deg, #0693e3 0%, #33364a 100%);
    text-align: center;
    padding: 80px;
    border-radius: 20px;
    width: 30%;
    margin: 50px auto 0px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.headers h2{
    font-size:15px;
}
.login {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-weight: 600;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 20px;
    font-size: 15px;
    color: white;
    background: linear-gradient(0deg, #0693e3 0%, #33364a 100%);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.btn:hover {
    background: #fff;
    border: 1px solid #0693e3;
    color: #0693e3;
}
.lnk {
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 50px;
    background: linear-gradient(0deg, #0693e3 0%, #33364a 100%);
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

.lnk:hover {
    background: #fff;
    border: 1px solid #0693e3;
    color: #0693e3;
}

p .lnk-p {
    font-weight: 500;
}

.names {
    font-size: 13px;
    list-style: upper-roman;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #050505;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid #4a8eff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
